body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.body-wrapper {
  margin-top: 64px;
}
.rt-th, .rt-td {
  display: inline-block;
  width: 25%;
  overflow: hidden;
  margin: 2px 20px;
  height: auto;
  font-size: 16px;
}
.rt-tr {
  border-bottom: 1px solid;
}
.-loading {
  display: none;
}
.-pagination>div {
  display: inline-block;
  padding: 5px 10px;
}
.-pageInfo {
  font-size: 16px;
}
.-pageInfo>div {
  display: inline-block;
}